.dottieimg {width: 200px; height: 550px; background-image: var(--dottieimg); position: absolute;}

.dottiedots {width: 340px; height: 12px; background-color: none; float: right; }

.dottiedots1 {width: 7px; height: 7px; background-color: var(--dot1); border-radius: 50%; display: inline-block; position: relative; float: right; margin-right: 5px; margin-top: 2.5px;}
.dottiedots2 {width: 7px; height: 7px; background-color: var(--dot2); border-radius: 50%; display: inline-block; position: relative; float: right;margin-right: 5px;margin-top: 2.5px;}
.dottiedots3 {width: 7px; height: 7px; background-color: var(--dot3); border-radius: 50%; display: inline-block; position: relative; float: right;margin-right: 5px;margin-top: 2.5px;}
.dottiedots4 {width: 7px; height: 7px; background-color: var(--dot4); border-radius: 50%; display: inline-block; position: relative; float: right;margin-right: 5px;margin-top: 2.5px;}
.dottiedots5 {width: 7px; height: 7px; background-color: var(--dot5); border-radius: 50%; display: inline-block; position: relative; float: right;margin-right: 5px;margin-top: 2.5px;}

.dottiebox {width: 340px; height: 495px; background-color: var(--dot2); float: right; margin-right: 0px;}

.dottienotes {width: 165px; height: 30px; background-color: var(--dot2); float: right; margin-top: 13px; margin-right: -340px; position: relative;}
.dottietag {width: 165px; height: 30px; background-color: var(--dot2); float: right; margin-top: 13px; margin-right: -165px; position: relative;}

.dottietextbox {width: 320px; height: 470px; background-color: #444444; margin: 10px; overflow: auto;}

.dottietext {font-family: arial; font-size: 12px; color: #fff; text-align: justify; line-height: 100%; padding: 10px 10px 10px 10px;}
.dottietext b { font-family: arial; font-size: 12px; color: var(--bold); text-align: justify; line-height: 100%; padding: 10px 10px 10px 10px;}
.dottietext p:first-letter {float: left; color: var(--start); font-size: 30px; padding: 5px;  font-family: 'Merriweather', serif; text-transform: none; text-shadow: 1px 1px 0px rgba(255,255,255,1)}

.dottieinfotxt {font-family: arial; font-size: 8px; color: #fff; text-align: center; text-transform: uppercase; line-height: 100%; padding: 5px 5px 5px 5px;}

.dottietextbox::-webkit-scrollbar { width: 5px; }
.dottietextbox::-webkit-scrollbar-track { background: none; width: 5px; }
.dottietextbox::-webkit-scrollbar-thumb { background: var(--dot1); width: 5px }

.riesig {width: 550px; min-height: 5px; font-size: 10px; color: #bfafdd; text-align: center; }
